.aboutus {
  background-image: url(../../Images/xin-wang-NHGkfa-rDPw-unsplash.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.aboutusdiv {
  max-width: 1000px;
  text-align: left;
  color: white;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(50, 50, 50);
  border: 1px solid #ddd;
  font-size: x-large;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}
